.scholarship-outer {
  /* width: 100%;
  margin: auto 2rem;
  padding: 2rem;
  min-width: 800px;
  border-bottom: #ffffff solid;
  border-width: 0.7rem; */
  position: fixed;
}

.scholarship-outer h1 {
  color: #1170fe;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.scholarship-inner {
  position: relative;
  display: flex;
  /*   flex-direction: column;
  align-items: center; */
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.scholarship__left-section {
  /*   position: static; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.scholarship__left-section img {
  height: auto;
  width: 100%;
  background-color: white;
}

.scholarship__left-section h3 {
  color: #1170fe;
  font-weight: bold;
}

.scholarship__left-section button {
  position: relative;
  height: 80px;
  width: 50%;
  background-color: #1170fe;
  color: #ffffff;
  /*   top: 50%;
  left: 20%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 2rem;
  border: none;
  margin: 0;
}

.scholarship__left-section .bewerb {
  margin-bottom: none;
}

.scholarship__left-section .bewerb a {
  text-decoration: none;
  color: #ffffff;
}

.scholarship__left-section .tipps {
  color: #1170fe;
  background-color: white;
  height: 50px;
  margin-top: none;
}

.scholarship__right-section {
  position: static;
  padding: 0 1.5rem;
  width: 50%;
}

.scholarship__right-section h2 {
  color: #1170fe;
  font-weight: 1000;
}

.scholarship__right-section h3 {
  font-weight: 600;
}

.scholarship__right-section p {
  font-weight: lighter;
  font-size: 1.5rem;
}

.modal-header .close {
  width: 5%;
}

.modal-footer button:first-child {
  width: 10%;
}

.modal-footer button {
  width: 30%;
  height: 3rem;
}

.modal-footer a {
  text-decoration: none;
  color: #ffffff;
}

.scholarship__card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 16px;
  width: 370px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.scholarship__card:hover {
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 1);
}

.scholarship__card__imgContainer {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.scholarship__card__textContainer {
  height: 40%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.scholarship__card__text_upper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  font-weight: bolder;
}

.scholarship__card__text_lower {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
}

.scholarship__card__text_left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.scholarship__card__text_right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.scholarship__card__icon {
  margin-right: 10px;
}

.scholarship__card__description {
  font-size: 0.8rem;
  overflow: auto;
}

.scholarship__card__picture {
  width: 100%;
  object-fit: fill;
}

@media (orientation: landscape) and (min-width: 1300px) {
  .scholarship-outer {
    width: 100%;
  }

  .scholarship__left-section {
    width: 40%;
  }

  .scholarship__left-section img {
    height: auto;
    background-color: white;
  }
}
