.scholarship-outer {
  width: 100%;
  margin: auto 2rem;
  padding: 1rem 0;
  min-width: 800px;
  border-bottom: #ffffff solid;
  border-width: 0.7rem;
}

.scholarship-outer h1 {
  color: #1170fe;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.scholarship-inner {
  position: relative;
  display: flex;
  /*   flex-direction: column;
  align-items: center; */
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.scholarship__left-section {
/*   position: static; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.scholarship__left-section img {
  height: auto;
  width: 100%;
  background-color: white;
}

.scholarship__left-section h3 {
  color: #1170fe;
  font-weight: bold;
}

.scholarship__left-section button {
  position: relative;
  height: 80px;
  width: 50%;
  background-color: #1170fe;
  color: #ffffff;
  /*   top: 50%;
  left: 20%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 2rem;
  border: none;
  margin: 0;
}

.scholarship__left-section .bewerb {
  margin-bottom: none;
}

.scholarship__left-section .tipps {
  color: #1170fe;
  background-color: white;
  height: 50px;
  margin-top: none;
}

.scholarship__right-section {
  position: static;
  padding: 0 1.5rem;
  width: 50%;
}

.scholarship__right-section h2 {
  color: #1170fe;
  font-weight: 1000;
}

.scholarship__right-section h3 {
  font-weight: 600;
}

.scholarship__right-section p {
  font-weight: lighter;
  font-size: 1.5rem;
}

.modal-header .close{
  width: 5%;
}

@media (orientation: landscape) and (min-width: 1300px) {
  .scholarship-outer {
    width: 100%;
  }

  
  .scholarship__left-section{
    width:40%;
  }

  .scholarship__left-section img {
    height: auto;
    background-color: white;
  }
}
