.slider{
    &-outer {
        position: absolute;
        top: 100px;
        height: 500px;
        width: 100%;
        display: flex;
        background-color: #478df7;
    }

    &__left-section {
        width: 50%;
        padding: 2rem;
        color: whitesmoke;

        button {
            position: relative;
            height: auto;
            min-height: 50px;
            min-width: 100px;
            width: 30%;
            background-color: #1170fe;
            color: #ffffff;
            border-radius: 2rem;
            border: none;
            margin: 0;
          }
      }

  }
  
  @media (orientation: landscape) and (min-width: 1300px) {
    .slider__left-section {
      padding-left: 5%;
    }
  }
  