.slider-outer {
 /*  position: relative; */
  height: 500px;
  width: auto;
  display: flex;
  background-color: #a5c7fa;
  padding: 2rem 0;
}

.slider__left-section {
  width: 50%;
  padding: 2rem;
  color: whitesmoke;
}

.slider__left-section h2{
  color: whitesmoke;
  font-weight: bold;
}

.slider__left-section p{
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.slider__left-section button {
  position: relative;
  height: auto;
  min-height: 50px;
  min-width: 100px;
  width: 30%;
  background-color: #1170fe;
  color: #ffffff;
  border-radius: 2rem;
  border: none;
  margin: 0;
}

.slider-outer img{

  right: 0%;
  width: 50%;
}

@media (orientation: landscape) and (min-width: 1300px) {
  .slider__left-section {
    padding-left: 5%;
    width: 40%;
  }

  .slider-outer img{
    position: absolute;
    right: 10%;
    transform: translateY(-10%);
    height: 450px;
  }
}
